@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

/* Variable Css */
:root {
  --primary-color: #4e4081;
  --color-black: #000;
}

/* Default Material Icon Begin */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* Default Material Icon End */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f4f8fb;
}

.row {
  margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Dashboard Section */

  .home .sidebar {
    background-color: red;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    position: static;
    position: -webkit-sticky;
    top: 0px;
    left: px;
    width: 100%;
    max-width: 20%;
    height: 100px;
    border-radius: 1px 1px 15px 15px;
  }

  .home .nav-item {
    list-style: none;
  }

  .home .main-content {
    height: 500px;
  }
  /* Login Section Begin */

  .login .bg-sign {
    background: url("../images/bg-sign.jpg") no-repeat;
    position: absolute;
    width: 100%;
    height: 760px;
    left: -67px;
    top: 0px;
  }

  .login .greeting-text {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }

  .login .greeting-text .text {
    position: absolute;
    width: 300px;
    height: 163px;
    left: 85px;
    top: 270px;
    font-size: 52px;
    line-height: 61px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }

  .login .greeting-text .text span {
    font-family: "Oleo Script", sans-serif;
  }

  .login .content-login {
    margin-top: 40px;
    margin-left: -50px;
  }

  .login .content-login .img-app {
    position: relative;
    top: 0;
    left: 0;
  }

  .login .content-login .img-app img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .login .content-login .img-app h4 {
    position: absolute;
    top: 80px;
    left: 150px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: var(--primary-color);
  }

  .login .content-login .main-content {
    position: relative;
    top: 170px;
    left: 50px;
  }

  .login .content-login .main-content h5 {
    color: var(--primary-color);
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 0;
    left: 25px;
  }

  .login .content-login .main-content a {
    color: var(--primary-color);
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }

  .login .content-login .main-content hr {
    width: 104px;
    height: 5px;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--primary-color);
  }

  .login .content-login .form-login {
    position: relative;
    top: 200px;
    left: 60px;
    max-width: 550px;
  }

  .login .content-login .form-login .form-nis {
    position: relative;
    top: 40px;
    left: 15px;
  }

  .login .content-login .form-login .form-nis label {
    position: absolute;
    top: 0;
    left: 0;
    color: #4e4081;
    font-weight: bold;
  }

  .login .content-login .form-login .form-nis input {
    position: absolute;
    width: 350px;
    top: 35px;
    left: 0px;
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px 14px;
    font-family: "Cascadia code", sans-serif;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .login .content-login .form-login .form-password {
    position: relative;
    top: 120px;
    left: 15px;
  }

  .login .content-login .form-login .form-password label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #4e4081;
    font-weight: bold;
  }

  .login .content-login .form-login .form-password input {
    position: absolute;
    width: 350px;
    top: 45px;
    left: 0px;
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px 14px;
    font-family: "Poppins", sans-serif;
  }

  .login .content-login .form-login .form-password a {
    position: absolute;
    top: 100px;
    left: 0;
    color: #4e4081;
    font-weight: 400;
    font-size: 14px;
  }

  .login .content-login .form-login .btn-submit {
    position: relative;
    top: 260px;
    left: 15px;
  }

  .login .content-login .form-login button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    font-family: "Raleway", sans-serif;
    border-radius: 8px;
  }

  .login .content-login .form-login button:hover {
    transition: all 0.5s;
    background-color: #4d379b;
    cursor: pointer;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
